<footer class="info">
    <p [translate]="'footer.text-click'"></p>
    <!-- Remove the below line ↓ -->
    <p [innerHTML]="'footer.text-template' | translate"></p>
    <!-- Change this out with your name and url ↓ -->
    <p [innerHTML]="'footer.text-creado' | translate"></p>
    <p [innerHTML]="'footer.text-parte' | translate"></p>

    <select [(ngModel)]="lang" (change)="cambiarLenguaje()">
        <option value="es">{{ 'footer.lang.espanol' | translate }}</option>
        <option value="en">{{ 'footer.lang.ingles' | translate }}</option>
    </select>
</footer>
